.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  background-color: #d5fefd;
  background-image: linear-gradient(315deg, #d5fefd 0%, #fffcff 74%);
  border-radius: 5px !important;
  border-right: 1px solid black;
  box-shadow: 6px 3px 10px -1px rgba(145, 95, 95, 0.84) !important;
}
@media screen and (max-width: 740px) {
  .card {
    background-image: red !important;
  }
}

.flex_header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex_footer {
  display: flex;
  justify-content: space-between;
}
